.catalogue-container{
    background: rgb(220, 220, 220);
    padding: 2rem;
}
.search-bar-container{
margin-bottom: 1.5rem;
}
.title-cat{
    background:#fcd303 ;
    border-radius: 15px;
    padding: 0.5rem;
}
